.container1 {
    justify-content: center;
    display: flex;
    background-color: white;
  }

  .container2 {
    justify-content: center;
    display: flex;
    background-color: white;
  }

  .container3 {
    justify-content: center;
    display: flex;
    background-color: white;
  }

  